aside{
    position: relative;
    & .bg{
        border-radius: .75rem;
    }
}

.aside-container{
    display: grid;
    position: absolute;
    top: 2rem;
    left: 2rem;

    & h1{
        font: var(--text-logo);
        color: var(--text-color-logo);
        margin-top: 1rem;
    }
    & p{
        font: var(--text-md-300);
        color: var(--text-primary);
        margin-top: 0.25rem;
    }
}