aside{
    position: relative;
    & .bg{
        border-radius: .75rem;
    }
    max-width: 100%;
}

.aside-container{
    display: grid;
    position: absolute;
    max-width: 100%;
    top: 2rem;
    left: 2rem;

    & img{
        margin-top: 1rem;
        max-width: 100%;
    }
    & p{
        font: var(--text-md-300);
        color: var(--text-primary);
        margin-top: 0.75rem;
    }
}
