@import url(fields.css/index.css);
@import url(fields.css/input.css);
@import url(fields.css/input-radio.css);
@import url(fields.css/input-colors.css);
main{
    background-color: var(--bg-body);
    border-radius: .75rem;
    padding: 5rem;
    height: 100dvh;
    overflow: auto;

    &::-webkit-scrollbar{
        background-color: var(--input-stroke);
        border-radius: .25rem;
        width: .5rem;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--surface-light);
        border-radius: .25rem;
    }
}
.main-container{
    display: grid;
    & h1{
        font: var(--text-hd-md);
        color: var(--text-primary);
    }

    & label{
        margin-bottom: .75rem;
    }

    & span{
        font: var(--text-sm-400);
        color: var(--text-secondary);
    }
}
