*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    height: 100dvh;
}

img{
    max-width: 100%;
}

legend{
    font: var(--text-hd-sm);
    color: var(--text-primary);
}

label{
    display: block;
    font: var(--text-sm-400);
    color: var(--text-secondary);
}

.grid-columns-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}