*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 78.75rem;
    margin: auto;
    overflow: hidden;
    height: 100dvh;
    background-color: var(--background);
}

img{
    max-width: 100%;
}

.grid-colors{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    gap: .5rem;
    margin-top: 1.2rem;
}
.grid-cards-perso{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));
    gap: .75rem;
    margin-top: 1.2rem;
}

label{
    display: block;
    font: var(--text-sm-400);
    color: var(--text-secondary);
}

.grid-columns-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}