input,
textarea{
    appearance: none;
    width: 100%;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    font: var(--text-md-400);
    color: var(--text-secondary);
    padding: .8125rem 1rem;
    border-radius: .5rem;
}

textarea{
    height: 8.5rem;
}


input[type=datetime-local]::-webkit-calendar-picker-indicator{

    opacity: 0;

}

.contact-area{
    display: grid;
    gap: 1rem;
    
    .email-number{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}